@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

.matches {
  padding: 10px;
  margin: auto;
  width: 50%;
}

.cardHeader {
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.interests {
  padding-top: 1%;
}

.nomatches {
  text-align: center;
  padding-top: 10%;
  color: white;
  -webkit-text-stroke-width: 1px;
  /* -webkit-text-stroke-color: black; */
}

.nomatches > h1 {
  font-family: "Comfortaa", cursive;
}

.title {
  font-family: "Comfortaa", cursive;
  color: white;
}
