.page {
  margin-top: 0;
  width: 100%;
  overflow: hidden;
}

.pageBody {
  display: flex;
  background-color: white;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  border: 0px;
  bottom: -1px;
  right: -1px;
}

.logOut {
  display: flex;
  margin-top: 10vh;
  width: 100%;
  justify-content: center;
}
