/*
  Styles to improve:
  TextField for Bio and interests allow for infinite enters; max rows only limits number of visible rows.
*/

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap");

.profile {
  display: grid;
  width: 80vw;
  align-self: center;
  place-items: center;
  background-color: #fff9e6;
  margin-top: 7vh;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.profile_header {
  display: flex;
  width: 80vw;
  /* background-color: red; */
  border-bottom: 1px solid black;
}

.profile_header > h2 {
  font-family: "Comfortaa", cursive;
  align-self: flex-start;
}

.profileBody {
  display: flex;
  flex-grow: 1;
  width: 80vw;
  padding-bottom: 30px;
}

.profilePicContainer {
  width: 60%;
  margin-top: 2%;
  margin-left: 20%;
  height: 100%;
}

.profilePicContainer > input {
  display: none;
}

.profilePic {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
  display: block;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
  border: 1px solid black;
}

.profilePic:hover {
  opacity: 0.3;
  cursor: pointer;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.profileInfo > h3 {
  font-family: "Comfortaa", cursive;
  text-transform: uppercase;
}

.profileInfo_bio {
  margin-top: 5px;
}

.profileInfo_bioEntry {
  font-family: "Comfortaa", cursive;
  width: 100%;
  overflow-wrap: normal;
}

.profileInfo_bio > form > .MuiButton-root {
  font-family: "Comfortaa", cursive;
  margin-top: 2%;
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 15px;
  size: "small";
  box-shadow: none;
}

.profileInfo_interestsEntry {
  font-family: "Comfortaa", cursive;
  width: 100%;
  overflow-wrap: normal;
}

.profileInfo_interests > form > .MuiButton-root {
  font-family: "Comfortaa", cursive;
  margin-top: 2%;
  margin-left: 40%;
  margin-right: 40%;
  size: "small";
  box-shadow: none;
}
