.sidebar {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  border-right: 2px solid #ffd85f;
  border-left: 2px solid #ffd85f;
}

.sidebar_header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-right: 1px solid lightgoldenrodyellow;
  background-color: #fff2cc;
}

.sidebar_search {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 40px;
  background-color: #fff2cc;
}

.sidebar_searchContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color: white;
}

.sidebar_searchContainer > .MuiSvgIcon-root {
  color: lightslategray;
  padding: 10px;
}

.sidebar_searchContainer > input {
  border: none;
  margin-left: 10px;
  outline-width: 0;
}

.sidebar_rooms {
  flex: 1;
  background-color: white;
  overflow: auto;
}
