.App {
  display: grid;
  place-items: center;
  height: 100%;
  margin-top: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.body {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  border: 0px;
}
